/nbproject/
/build/
/dist/
/StarWarsWeb/nbproject/private/
/StarWarsWeb/build/
/StarWarsWeb/dist/
/Nouveau dossier contenant des éléments/build/
/Nouveau dossier contenant des éléments/nbproject/private/
/java_app/build/
/java_app/nbproject/private/
/java_web/2020-java-modelisation-web/nbproject/private/
/java_web/2020-java-modelisation-web/build/
/2020-java-modelisation-web/build/
/2020-java-modelisation-web/nbproject/private/
/2020-java-modelisation-app/build/
/2020-java-modelisation-app/nbproject/private/