<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee          http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>2020 Java Modélisation | App Web</display-name>
    
    <!-- Servelet - FilmSaisi -->
    <!-- servlet - laison -->
    <servlet>
        <servlet-name>FilmSaisi</servlet-name>
        <servlet-class>fr.starwars.servets.FilmSaisi</servlet-class>
        <!-- Param - FilmTitre -->
        <init-param>
            <param-name>FilmTitre</param-name>
            <param-value>0</param-value>
        </init-param>
        <!-- Param - FilmTitre -->
        <init-param>
            <param-name>FilmAnneeDeSortie</param-name>
            <param-value>0</param-value>
        </init-param>
        <!-- Param - FilmTitre -->
        <init-param>
            <param-name>FilmNumeroEpisode</param-name>
            <param-value>0</param-value>
        </init-param>
        <!-- Param - FilmTitre -->
        <init-param>
            <param-name>FilmCout</param-name>
            <param-value>0</param-value>
        </init-param>
        <!-- Param - FilmTitre -->
        <init-param>
            <param-name>FilmRecette</param-name>
            <param-value>0</param-value>
        </init-param>
    </servlet>
    
    <!-- servlet-mapping - URI Accès -->
    <servlet-mapping>
        <servlet-name>FilmSaisi</servlet-name>
        <url-pattern>/FilmSaisi</url-pattern>
    </servlet-mapping>
    
    <!-- Servelet - FilmSaisiResultat -->
    <!-- servlet - laison -->
    <servlet>
        <servlet-name>FilmSaisiResultat</servlet-name>
        <servlet-class>fr.starwars.servets.FilmResultatRequete</servlet-class>
    </servlet>
    <!-- servlet-mapping - URI Accès -->
    <servlet-mapping>
        <servlet-name>FilmSaisiResultat</servlet-name>
        <url-pattern>/FilmSaisiResultat</url-pattern>
    </servlet-mapping>
    
    <!-- Servelet - FilmSaisiMiseAJour -->
    <!-- servlet - laison -->
    <servlet>
        <servlet-name>FilmMiseAJour</servlet-name>
        <servlet-class>fr.starwars.servets.FilmMiseAJour</servlet-class>
    </servlet>
    <!-- servlet-mapping - URI Accès -->
    <servlet-mapping>
        <servlet-name>FilmMiseAJour</servlet-name>
        <url-pattern>/FilmMiseAJour</url-pattern>
    </servlet-mapping>
    
    <!-- Servelet - FilmSaisiResultat -->
    <!-- servlet - laison -->
    <servlet>
        <servlet-name>FilmListe</servlet-name>
        <servlet-class>fr.starwars.servets.FilmListe</servlet-class>
    </servlet>
    <!-- servlet-mapping - URI Accès -->
    <servlet-mapping>
        <servlet-name>FilmListe</servlet-name>
        <url-pattern>/FilmListe</url-pattern>
    </servlet-mapping>
</web-app>
